/* General styles */
h1 {
  margin: 30px 30% 15px 30%;
  font-size: 4em;
  text-align: center;
  font-weight: bolder;
  background-color: salmon;
  border: 2px solid black;
  min-width: 275px;
  font-family: 'Courier New', Courier, monospace;
}

h2, h3 {
  margin: 30px 40% 0px 40%;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  background-color: salmon;
  border: 2px solid black;
  min-width: 150px;
}

nav {
  text-align: center;
  margin: 0px 40% 40px 40%;
  background-color: salmon;
  padding: 7px;
  border: 2px solid black;
  min-width: 100px;
  font-family: 'Courier New', Courier, monospace;
}

article {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: darkgreen;
  background-image: url('../img/salmon.png');
  background-attachment: fixed;
  background-size: 30%;
}

footer {
  margin: 30px 30% 30px 30%;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  background-color: salmon;
  border: 2px solid black;
  min-width: 500px;
}

/* Home page styles */
div.storeLocations {
  background-color: salmon;
  border: 2px solid black;
  margin: 5px 5%;
  padding: 3px;
  min-width: 500px;
  text-align: center;
}

div.locations {
  display: block;
  text-align: center;
}

div.locations > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  width: 200px;
}

.imageLocations {
  width: 95%;
}

div.products {
  background-color: salmon;
  border: 2px solid black;
  margin: 5px 5%;
  padding: 3px;
  min-width: 500px;
}

div.images {
  display: block;
}

div.aboutUs {
  background-color: salmon;
  border: 2px solid black;
  margin: 5px 5%;
  padding: 3px;
  min-width: 500px;
}

div.aboutUs img {
  display: block;
  max-width: 450px;
  margin: 5px auto;
}

/* Sales page specific styles */
table, td, tr {
  background-color: salmon;
  padding: 6px;
  border: 2px solid black;
}

thead {
  font-weight: bold;
}

tr:hover {
  background-color: ivory;
}

table {
  margin: 10px 1% 30px 3%;
}

section {
  margin: 10px 60% 40px 15%;
}

form {
  background-color: salmon;
  border: 2px solid black;
  padding: 3px;
  min-width: 350px;
}

h3:last-of-type {
  margin: 30px 60% 10px 15%;
  padding: 3px;
  min-width: 350px;
}

label {
  margin-bottom: 4px;
  min-width: 200px;
  display: block;
}

input {
  margin-bottom: 4px;
  display: block;
}

footer img {
  margin-top: 5px;
}
